#root {
  display: flex;
  justify-content: center;
  background: #f5f5f5;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 1vw 0;
}
.App-layout {
  margin: 0 15px;
  width: calc(100% - 17vw);
}
.main-header {
  color: black;
  font-size: 6vw;
  font-weight: bold;
  margin-bottom: 1vw;
}

/* MAIN COMPONENT */
.main-component-layout {
  border: 0.2vw solid #e5e5e5;
  border-radius: 1vw;
  padding: 2vw;
  background: #ffffff;
  margin-bottom: 2vw;
}
.main-component-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-component-header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-component-header-left-title {
  font-weight: bold;
  font-size: 2vw;
}
.main-component-header-left-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5vw;
  background-color: #e7f6f0;
  border-radius: 0.7vw;
  margin-right: 2vw;
  width: 3vw;
  height: 3vw;
}
.main-component-header-left-icon-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5vw;
  height: 2.5vw;
}
.main-component-header-right-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.7vw;
  background-color: #f5f5f5;
  border-radius: 0.7vw;
  width: 2.5vw;
  height: 2.5vw;
}

/* LOGIN GOOGLE */
.login-google-layout {
  margin: 1vw 1.5vw 0 1.5vw;
}
.login-google-header-layout {
  display: flex;
  align-items: center;
  margin-top: 3vw;
}
.login-google-header-left-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5vw;
  background-color: #f5f5f5;
  border-radius: 3vw;
  margin-right: 2vw;
  width: 6vw;
  height: 6vw;
}
.login-google-header-left-icon-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5vw;
  height: 2.5vw;
}
.login-google-header-right-title {
  font-weight: bold;
  font-size: 2vw;
}
.login-google-header-right-subtitle {
  color: #909090;
  font-weight: 600;
  font-size: 1.7vw;
}
.login-google-button {
  padding: 0.4vw 1.3vw;
  background-color: #2483f4;
  color: white;
  font-weight: 600;
  font-size: 1.5vw;
  width: fit-content;
  border-radius: 0.7vw;
  margin: 2vw 0;
  cursor: pointer;
}

/* FLOW NODE */
.flow-node-button-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10vw;
  padding: 0.7vw 0;
  cursor: pointer;
  margin-top: 2vw;
}
.flow-node-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 3vw;
  margin-right: 0.6vw;
}
.flow-node-button-icon > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 3vw;
}
.flow-node-button-icon-content {
  width: 2.5vw;
}
.flow-node-button-text {
  font-weight: 600;
  font-size: 1.5vw;
}

/* FILE EXPORT */
.file-export-layout {
  margin-top: 2vw;
}

.file-export-account-title,
.file-export-getfile-title {
  font-weight: bold;
  font-size: 1.5vw;
}

.file-export-getfile-layout {
  margin-top: 1.5vw;
}

.file-export-getfile-content {
  padding: 0.7vw 1.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.13vw solid #e5e5e5;
  border-radius: 0.7vw;
  margin-top: 1vw;
}

.file-export-getfile-content-left {
  display: flex;
  align-items: center;
}

.file-export-getfile-content-left-text {
  font-weight: bold;
  font-size: 1.2vw;
  margin-left: 0.7vw;
}

.file-export-button {
  padding: 1vw 1.3vw;
  background-color: #2483f4;
  color: white;
  font-weight: 600;
  font-size: 1.5vw;
  border-radius: 0.7vw;
  margin-top: 1.5vw;
  border: none;
  width: 100%;
  text-align: center;
}

button:disabled {
  opacity: 0.6;
}

.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 1vw;
  border: 0.13vw solid #e5e5e5;
  border-radius: 0.7vw;
  margin-top: 1vw;
}
.select-box__current {
  position: relative;
  cursor: pointer;
  outline: none;
}
.select-box__current:focus + .select-box__list {
  opacity: 1;
  -webkit-animation-name: none;
  animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}
.select-box__current:focus .select-box__icon {
  transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  transition: 0.2s ease;
}
.select-box__value {
  display: flex;
}
.select-box__input {
  display: none;
}
.select-box__input:checked + .select-box__input-text {
  display: block;
}
.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #fff;
  border-radius: 0.7vw;
  font-weight: bold;
  font-size: 1.2vw;
}
.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
  animation-name: HideList;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
  animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}
.select-box__option {
  display: block;
  padding: 15px;
  background-color: #fff;
}
.select-box__option:hover,
.select-box__option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
